<h2>My Items</h2>
<div class="dropdown">
  <button class="dropbtn">{{sortBy}}</button>
  <div class="dropdown-content">
    <a (click)="sortItem('name')">Name</a>
    <a (click)="sortItem('id')">Id</a>
    <a (click)="sortItem('price')">Price</a>
  </div>
</div>
<ul class="items">
    <li *ngFor="let item of items"
    [class.selected]="item === selectedItem"
    (click)="onSelect(item)" routerLink="/itemdetail/{{item.id}}">
    <a>
    <span class="badge">{{item.id}}</span> 
    {{item.name}} {{item.price}}
  </a>
    <button class="delete" title="Delete item" (click)="delete(item)">x</button>
  </li>
</ul>
<div>
  <label>Item name:
    <input #itemName />
  </label>
  <button (click)="Add(itemName.value); itemName.value=''">
    Add
  </button>
</div>
<app-item-search></app-item-search>
<app-item-form></app-item-form>
