<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div><span>money: </span>{{hero.money}}</div>
  <div><span>items: </span></div>
  <ul>
    <li *ngFor="let item of hero.items">
      <span>{{item.id}}</span> {{item.name}}
    </li>
  </ul>
  <div>
    <label>name:
      <input [(ngModel)]="hero.name" placeholder="name"/>
    </label>
    
  </div>
  <button (click)="goBack()">go back</button>
  <a routerLink="/buyitem/{{hero.id}}">Buy Item</a>
</div>