<h2>My Heroes</h2>
<div class="dropdown">
  <button class="dropbtn">{{sortBy}}</button>
  <div class="dropdown-content">
    <a (click)="sortHero('name')">Name</a>
    <a (click)="sortHero('id')">Id</a>
    <a (click)="sortHero('money')">Money</a>
    <a (click)="sortHero('life')">Life</a>
  </div>
</div>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button class="delete" title="Delete hero"
  (click)="delete(hero)">x</button>
  </li>
</ul>
<div>
  <label>Hero name:
    <input #heroName />
  </label>
  <button (click)="add(heroName.value); heroName.value=''">
    Add
  </button>
  <div>
  <button><a routerLink="/hero-form">Create Hero</a></button>
</div>
</div>

